
#color {
	color: blue;
	text-align: center;
	text-decoration: underline;
	padding: 2em;
}

.colorClass {
	color: orange;
	text-align: center;
	text-decoration: underline;
	padding: 1em;
}

.divClass {	
	padding-top: 2em;
	background-color: tomato;
	border: solid maroon .75em;
	border-radius: 2em;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

.h1Class {
	color: red;
	text-align: center;
	text-decoration: underline;
	padding: 50px;
}

.exampleTag {
	padding: 25px;
	border-bottom: solid blue 5px;	
}

#h1_page1 {
	color: green;
	text-align: center;
	text-decoration: underline;
	font-size: 72px;
}

.thumbnail {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 5px;
	background-color: blue;
	border: solid blue 3px;
	border-radius: 10px;
}

.textLine {
    clear: both;
}

.socialMediaClass {	
	padding-top: 100px;
	border-top: solid grey 2px;
}

.sectionClass {
	padding: 25px;
	width: 40%;
	margin: 0 auto;
}

.navClass {
	padding-top: 50px;
	padding-bottom: 25px;
}

.socialFloat {
	float: right;
}

#pageLink {
    float: left;
    width: 15em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

