/*INDEX PAGE CSS*/

#color {
	color: blue;
	text-align: center;
	text-decoration: underline;
	padding: 2em;
}

.colorClass {
	color: orange;
	text-align: center;
	text-decoration: underline;
	padding: 1em;
}

.divClass {	
	padding-top: 2em;
}

.divPadding {
	background-color: tomato;
}

.divBorder {
	border: solid maroon .75em;
	border-radius: 2em;
}

.divWidth {
	max-width: 80%;
}

/*HTML_TAGS PAGE CSS*/

.exampleTag {
	padding: 25px;
	border-bottom: solid blue 5px;	
}

#h1_page1 {
	color: green;
	text-align: center;
	text-decoration: underline;
	font-size: 72px;
}